.pessoa__titulo1 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #fdfdfd;
    font-size: 0.6rem;
    margin-left: 5px;
    margin-top: 2.5px;
}
.pessoa__titulo2 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: black;
    font-size: 0.6rem;
    margin-left: 5px;
    margin-top: 2.5px;
}