.pessoa__imagem{
    border: 1px solid #fdfdfd;
    height: 25px;
    width: 25px;

}

.pessoa--daniel{
    background-image: url(../../images/image-daniel.jpg);
    border-radius: 50%;
    background-size: contain;
}
.pessoa--jonathan{
    background-image: url(../../images/image-jonathan.jpg);
    border-radius: 50%;
    background-size: contain;
}
.pessoa--jeanette{
    background-image: url(../../images/image-jeanette.jpg);
    border-radius: 50%;
    background-size: contain;
}
.pessoa--patrick{
    background-image: url(../../images/image-patrick.jpg);
    border-radius: 50%;
    background-size: contain;
}
.pessoa--kira{
    background-image: url(../../images/image-kira.jpg);
    border-radius: 50%;
    background-size: contain;
}
