.depoimento__descricao1 {
    font-size: 15px;
    color: hsl(0, 0%, 81%);
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding: 15px 20px;
}
.depoimento__descricao2 {
    font-size: 15px;
    color: black;
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding: 15px 20px;
}